extends layout

block content
  .container
    h1.mt-4.mb-4 Evidencija Projekata

    // Gumb za dodavanje novog projekta
    .mb-4
      button.btn.btn-primary#btnNoviProjekt
        i.fas.fa-plus
        |  Novi Projekt

    // Filteri
    .card.mb-4
      .card-body
        .row
          .col-md-4
            label Status:
            select.form-control#filterStatus
              option(value='') Svi statusi
              option(value='planiran') Planiran
              option(value='u_tijeku') U tijeku
              option(value='zavrsen') Završen
              option(value='otkazan') Otkazan
          .col-md-4
            label Min. cijena:
            input.form-control#filterMinCijena(type='number', placeholder='0')
          .col-md-4
            label Max. cijena:
            input.form-control#filterMaxCijena(type='number', placeholder='100000')

    // Tablica projekata
    .card
      .card-body
        #projectsTable
          table.table.table-hover
            thead
              tr
                th Naziv
                th Opis
                th Cijena
                th Status
                th Datum početka
                th Datum završetka
                th Članovi tima
                th Akcije
            tbody#projectsTableBody

    // Modal za dodavanje/uređivanje projekta
    #projectModal.modal.fade(tabindex='-1')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h5.modal-title#projectModalTitle Novi Projekt
          .modal-body
            form#projectForm
              .form-group
                label Naziv projekta *
                input.form-control#naziv(type='text', required)
              .form-group
                label Opis projekta *
                textarea.form-control#opis(rows='3', required)
              .form-group
                label Cijena (EUR) *
                input.form-control#cijena(type='number', step='0.01', required)
              .form-group
                label Obavljeni poslovi
                #obavljeniPosloviContainer
                  .input-group.mb-2
                    input.form-control.obavljeni-posao(type='text', placeholder='Npr. Dizajn')
                button.btn.btn-secondary.btn-sm#btnDodajPosao(type='button') + Dodaj posao
              .form-group
                label Status
                select.form-control#status
                  option(value='planiran') Planiran
                  option(value='u_tijeku') U tijeku
                  option(value='zavrsen') Završen
                  option(value='otkazan') Otkazan
              .row
                .col-md-6
                  .form-group
                    label Datum početka *
                    input.form-control#datumPocetka(type='date', required)
                .col-md-6
                  .form-group
                    label Datum završetka
                    input.form-control#datumZavrsetka(type='date')
              .form-group
                label Članovi tima
                #clanoviTimaContainer
                  .input-group.mb-2
                    input.form-control.clan-tima(type='text', placeholder='Ime člana tima')
                button.btn.btn-secondary.btn-sm#btnDodajClana(type='button') + Dodaj člana

          .modal-footer
            button.btn.btn-secondary(type='button', id='btnOdustaniProjekt') Odustani
            button.btn.btn-primary#btnSpremiProjekt Spremi

    // Modal za prikaz detalja projekta
    #detailsModal.modal.fade(tabindex='-1')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h5.modal-title Detalji Projekta
          .modal-body#detailsContent
          .modal-footer
            button.btn.btn-secondary(type='button', id='btnZatvoriDetalji') Zatvori

  script(src='/javascripts/projects.js')
